
<div class="col-lg-3">
    <div class="left_sidebar_area">
        <aside class="left_widgets p_filter_widgets">
            <div class="l_w_title">
                <h3>Category Filter</h3>
            </div>
            <div class="widgets_inner">
                <ul class="list">
                    <li>
                        <a class="dropdown-item" asp-controller="Home" asp-action="CategoryByProduct" asp-route-category="iphone">Iphone</a>
                        <span>(250)</span>
                    </li>
                    <li>
                        <a class="dropdown-item" asp-controller="Home" asp-action="CategoryByProduct" asp-route-category="ipad">iPad</a>
                        <span>(250)</span>
                    </li>
                    <li>
                        <a class="dropdown-item" asp-controller="Home" asp-action="CategoryByProduct" asp-route-category="imac">iMac</a>
                        <span>(250)</span>
                    </li>
                    <li>
                        <a class="dropdown-item" asp-controller="Home" asp-action="CategoryByProduct" asp-route-category="laptop">Laptop</a>
                        <span>(250)</span>
                    </li>
                </ul>
            </div>
        </aside>


        <aside class="left_widgets p_filter_widgets">
            <div class="l_w_title">
                <h3>Brand Filter</h3>
            </div>
            <div class="widgets_inner">
                <ul class="list">
                    <li>
                        <a asp-controller="Home" asp-action="CategoryByBranch" asp-route-branch="Apple">Apple</a>
                    </li>
                    <li>
                        <a asp-controller="Home" asp-action="CategoryByBranch" asp-route-branch="Asus">Asus</a>
                    </li>
                    <li class="active">
                        <a asp-controller="Home" asp-action="CategoryByBranch" asp-route-branch="Lenovo">Lenovo</a>
                    </li>
                    <li>
                        <a asp-controller="Home" asp-action="CategoryByBranch" asp-route-branch="MSI">MSI</a>
                    </li>
                </ul>
            </div>
        </aside>

        <aside class="left_widgets p_filter_widgets">
            <div class="l_w_title">
                <h3>Colors Filter </h3>
            </div>
            <div class="widgets_inner">
                <ul class="list">
                    <li>
                        <a asp-controller="Home" asp-action="CategoryByColor" asp-route-color="Đen">Đen</a>
                    </li>
                    <li>
                        <a asp-controller="Home" asp-action="CategoryByColor" asp-route-color="Trắng">Trắng</a>
                    </li>
                    <li class="active">
                        <a asp-controller="Home" asp-action="CategoryByColor" asp-route-color="Đỏ">Đỏ</a>
                    </li>
                    <li>
                        <a asp-controller="Home" asp-action="CategoryByColor" asp-route-color="Tím">Tím</a>
                    </li>
                    <li>
                        <a asp-controller="Home" asp-action="CategoryByColor" asp-route-color="Xanh dương">Xanh dương</a>
                    </li>
                    <li>
                        <a asp-controller="Home" asp-action="CategoryByColor" asp-route-color="Titan">Titan</a>
                    </li>
                </ul>
            </div>
        </aside>

        <aside class="left_widgets p_filter_widgets price_rangs_aside">
            <div class="l_w_title">
                <h3>Price Filter</h3>
            </div>
            <div class="widgets_inner">
                <div class="range_item">
                    <!-- <div id="slider-range"></div> -->
                    <input type="text" class="js-range-slider" value="" />
                    <div class="d-flex">
                        <div class="price_text">
                            <p>Price :</p>
                        </div>
                        <div class="price_value d-flex justify-content-center">
                            <input type="text" class="js-input-from" id="amount" readonly />
                            <span>to</span>
                            <input type="text" class="js-input-to" id="amount" readonly />
                        </div>
                    </div>
                </div>
            </div>
        </aside>

    </div>
</div>


