<table class="table">
    <tbody>
        <tr>
            <td>
                <h5>Công nghệ CPU</h5>
            </td>
            <td>
                <h5>@Model.CongNgheCPU</h5>
            </td>
        </tr>
        <tr>
            <td>
                <h5>Tốc độ CPU</h5>
            </td>
            <td>
                <h5>@Model.TocDoCPU</h5>
            </td>
        </tr>
        <tr>
            <td>
                <h5>Màn hình</h5>
            </td>
            <td>
                <h5>@Model.ManHinh</h5>
            </td>
        </tr>
        <tr>
            <td>
                <h5>Turbo</h5>
            </td>
            <td>
                <h5>@Model.Turbo</h5>
            </td>
        </tr>
    </tbody>
</table>