<table class="table">
    <tbody>
        <tr>
            <td>
                <h5>Công nghệ màn hình</h5>
            </td>
            <td>
                <h5>@Model.CongNgheManHinh</h5>
            </td>
        </tr>
        <tr>
            <td>
                <h5>Độ phân giải</h5>
            </td>
            <td>
                <h5>@Model.DoPhanGiai</h5>
            </td>
        </tr>
        <tr>
            <td>
                <h5>Kích thước vật lý</h5>
            </td>
            <td>
                <h5>@Model.KichThuocVatLy</h5>
            </td>
        </tr>
        <tr>
            <td>
                <h5>Màn hình</h5>
            </td>
            <td>
                <h5>@Model.ManHinh</h5>
            </td>
        </tr>
    </tbody>
</table>