<table class="table">
    <tbody>
        <tr>
            <td>
                <h5>Loại CPU</h5>
            </td>
            <td>
                <h5>@Model.CPU</h5>
            </td>
        </tr>
        <tr>
            <td>
                <h5>Số nhân / luồng</h5>
            </td>
            <td>
                <h5>@Model.SoNhanLuong</h5>
            </td>
        </tr>
        <tr>
            <td>
                <h5>Kích thước màn hình</h5>
            </td>
            <td>
                <h5>@@Model.ManHinh</h5>
            </td>
        </tr>
        <tr>
            <td>
                <h5>Trọng lượng</h5>
            </td>
            <td>
                <h5>@Model.TrongLuong</h5>
            </td>
        </tr>
    </tbody>
</table>