@model DACS.Models.SanPham;

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

@if (Model.DiemDanhGia != null && Model.SoLuongDanhGia != null)
{
    int totalReviews = Model.BinhLuan.Count;
    int[] starCounts = new int[5];

    foreach (var binhLuan in Model.BinhLuan)
    {
        starCounts[binhLuan.MaDanhGia - 1]++;
    }

    <div class="col-6">
        <div class="rating-list">
            <h3>Based on @totalReviews Reviews</h3>
            <ul class="stars">
                @for (int i = 4; i >= 0; i--)
                {
                    int starValue = i + 1;
                    int count = starCounts[i];
                    <li>
                        <a>
                            @starValue
                            @for (int j = 0; j < starValue; j++)
                            {
                                <i class="fas fa-star" style="color: #f19d27;"></i>
                            }
                            (@count)
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
}

<style>
    .rating-list {
        margin-bottom: 20px;
    }

    .stars {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

        .stars li {
            margin-bottom: 5px;
        }

            .stars li a {
                text-decoration: none;
                color: #333;
            }

                .stars li a i {
                    font-size: 16px;
                    margin-right: 5px;
                }
</style>
