@model DACS.Models.SanPham;

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

@if (Model.DiemDanhGia != null && Model.SoLuongDanhGia != null)
{
    <div class="review-list">
        @foreach (var binhLuan in Model.BinhLuan)
        {
            string name = binhLuan.Customer.Name;
            <div class="review-item">
                <div class="review-header">
                    <div class="user-avatar">
                        <img src="~/avatar/user-avatar.png" alt="User Avatar" />
                    </div>
                    <div class="user-info">
                        @if (name != null)
                        {
                            <h4>@name</h4>
                        }
                        <div class="star-rating">
                            @for (int i = 0; i < 5; i++)
                            {
                                if (i < binhLuan.MaDanhGia)
                                {
                                    <i class="fas fa-star" style="color: #f19d27;"></i>
                                }
                                else
                                {
                                    <i class="fas fa-star" style="color: #b9b6b1;"></i>
                                }
                            }
                        </div>
                    </div>
                </div>
                <p class="review-content">
                    @binhLuan.NoiDungBinhLuan
                </p>
            </div>
        }
    </div>
}

<style>
    .review-list {
        margin-top: 20px;
    }

    .review-item {
        border-bottom: 1px solid #eee;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    .review-header {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .user-avatar img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 15px;
    }

    .user-info h4 {
        margin: 0;
        font-size: 16px;
        color: #333;
    }

    .star-rating {
        display: flex;
        color: #f19d27;
        margin-top: 5px;
    }

        .star-rating i {
            font-size: 16px;
            margin-right: 5px;
        }

    .review-content {
        color: #666;
    }
</style>
