@model DACS.Models.VeGiamGia

@{
    ViewData["Title"] = "Create";
    Layout = "_DashBoardAdmin";
}

<h1>Thêm mã giảm giá</h1>

<div class="row mt-4">
    <div class="col-md-6 offset-md-3">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Code" class="control-label">Mã giảm giá</label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayThietLap" class="control-label">Ngày tạo</label>
                <input asp-for="NgayThietLap" class="form-control" />
                <span asp-validation-for="NgayThietLap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoLuongToiDaSuDung" class="control-label">Số lượng sử dụng tối đa</label>
                <input asp-for="SoLuongToiDaSuDung" class="form-control" />
                <span asp-validation-for="SoLuongToiDaSuDung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TyleGiam" class="control-label">Tỷ lệ giảm</label>
                <input asp-for="TyleGiam" class="form-control" />
                <span asp-validation-for="TyleGiam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Thêm</button>
            </div>
        </form>
    </div>
</div>

<div class="mt-4">
    <a asp-action="Index" class="btn btn-secondary">Trở về</a>
</div>
