@model List<DACS.Models.HinhAnhQuangCao>;
<section class="banner_part">
    <div class="row">
        <div class="col-lg-12">
            <div class="product_list_slider owl-carousel">
                @foreach (var hinhAnh in Model)
                {
                    <div class="single_product_list_slider">
                        <div class="banner_text">
                            <div class="banner_text_iner">
                                <div class="single_product_item">
                                    <img src="~/slider/@hinhAnh.FileAnh" alt="">
                                    <div class="single_product_text">
                                        <a href="#" class="btn-2">Buy now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>