@model WebDT.Models.HinhAnhQuangCao;
@{
    Layout = "_DashBoardAdmin";
}

<div>
    <form method="post" enctype="multipart/form-data">
        <div style="margin-left:150px;">
            <div class="form-group col-4 p-0">
                <label class="control-label"></label>
                <img id="PreviewPhoto" src="~/Images/noimage.png" alt="Logo Image"
                     style="width:260px; height:260px; border: 1px solid #333333; border-radius:5px;" />
                <span asp-validation-for="FileAnh" class="text-danger"></span>

            </div>

            <div class="col-1 p-0">
            </div>

            <div class="form-group col-7 p-0">
                <div class="input-group custom-file-button mt-5 pt-5" style="width:260px; height:30px; transform:translateY(-65px);">
                    <input asp-for="ProfilePhoto" multiple class="form-control custom-file-input" id="customFile">
                </div>

            </div>

            <div class="form-group pt-0 mt-0">
                <div ID="HiddenDiv" style="visibility: hidden;">
                    <input asp-for="FileAnh" id="PhotoUrl" value="" />
                </div>
            </div>

        </div>
        <button type="submit">Thêm</button>
    </form>
</div>