@model List<DACS.Models.HinhAnhQuangCao>

@{
    ViewData["Title"] = "Hình ảnh quảng cáo";
    Layout = "_DashBoardAdmin";

}

<div style="display:flex; flex-direction:row; justify-content:space-between;">
    <h1 style="color:#ffffff;">Image of advertisement</h1>
    <h3>
        <a asp-area="Admin" asp-controller="HinhAnhQuangCao" asp-action="Create">Add new Image</a>
    </h3>

</div>
<table class="table" style="background-color:#ffffff; height: 800px;">
    <thead>
        
        <tr>
            <th></th>
            <th>Image code</th>
            <th>File name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (!string.IsNullOrEmpty(item.FileAnh))
                    {
                        <img src="~/slider/@item.FileAnh" alt="Profile Photo" style="max-width: 350px; max-height: 350px;" />
                    }
                    else
                    {
                        <span>No profile photo available</span>
                    }
                </td>
                <td>@item.MaAnhQuangCao</td>
                <td>@item.FileAnh</td>
            </tr>
        }
    </tbody>
</table>
