@model DACS.Models.ThuongHieu

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Brand</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Brand name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenThuongHieu)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaThuongHieu">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
