@model WebDT.Models.TrangThaiDonHang

@{
    ViewData["Title"] = "Edit";
    Layout = "_DashBoardAdmin";
}

<h1>Chỉnh sửa</h1>
<h4>Đơn hàng</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaTrangThaiDonHang" />
            <div class="form-group">
                <label asp-for="TenTrangThaiDonHang" class="control-label">Tên trạng thái</label>
                <input asp-for="TenTrangThaiDonHang" class="form-control" />
                <span asp-validation-for="TenTrangThaiDonHang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Trở về</a>
</div>


