@model IEnumerable<DACS.Models.TrangThaiDonHang>

@{
    ViewData["Title"] = "Index";
    Layout = "_DashBoardAdmin";
}

<h1>Order status list</h1>

<p>
    <a asp-action="Create">Create new</a>
<table class="table">
    <thead>
        <tr>
            <th>
                Order status name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenTrangThaiDonHang)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaTrangThaiDonHang">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.MaTrangThaiDonHang">Delete</a>

            </td>
        </tr>
}
    </tbody>
</table>
