<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Techzone</title>

    <link rel="icon" href="~/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="~/css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="~/css/all.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="~/css/slick.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="~/css/style.css">


</head>
<body>
    <div style="border-radius: 12px; margin: 30px 0 450px 0; height: 500px ; width:95%; background-color: #ffffff; display:flex; flex-direction:column; justify-content:center; align-items:center">
        <div style="height: 70px; width: 70px; border-radius: 100%; text-align: center;">
            <img src="~/image-cart/correct.png" alt="Tick" class="banner-img">
        </div>
        <h2 style="margin-top:20px;">Đặt ký mua hàng thành công</h2>
        <p style="margin-top:20px;">Cảm ơn quý khách đã tin tưởng TECHZONE</p>
        <div style=" width: 520px;">
            <p style="margin-top:20px;">Bộ phận phụ trách sẽ chủ động liên hệ cho bạn trong thời gian sớm nhất có thể. Trong trường hợp khẩn cấp xin vui lòng liên hệ <span style="color:red; font-weight:bold;">1900 000 000</span></p>

        </div>
        <a asp-controller="Home" asp-action="Index" style="height: 43px; width: 230px; border-radius: 9px; background-color: #18a0c6; text-decoration:none; text-align:center; margin-top: 30px;">
            <div style="color:#ffffff; font-weight:500; transform:translateY(10px);">VỀ TRANG CHỦ</div>
        </a> 

    </div>
</body>
</html>