@model DACS.Models.TyLeGiam

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Reduction rate</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaTyLeGiam" />
            <div class="form-group">
                <label asp-for="MoTaTyLeGiam" class="control-label">Description reduction rate</label>
                <input asp-for="MoTaTyLeGiam" class="form-control" />
                <span asp-validation-for="MoTaTyLeGiam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhanTramGiam" class="control-label">Reduction rate</label>
                <input asp-for="PhanTramGiam" class="form-control" />
                <span asp-validation-for="PhanTramGiam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
