@model WebDT.Models.Ram

@{
    ViewData["Title"] = "Delete";
    Layout = "_DashBoardAdmin";
}

<div style="background-color:#ffffff; transform:translate(30px,50px);  height:50%; width:80%; border-radius:9px; ">
    <div style="transform:translateX(30px);">
        <div class="col-md-4">
            <form asp-action="Delete">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">

                    <label asp-for="TenRam" class="control-label">Ram</label>

                    <input asp-for="TenRam" class="form-control" />
                    <span asp-validation-for="TenRam" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Xoá" class="btn btn-danger" />
                </div>
            </form>
        </div>
    </div>

</div>