@model List<DACS.Models.Ram>

@{
    ViewData["Title"] = "Index";
    Layout = "_DashBoardAdmin";
}

<div class="container-fluid py-4">
    <div class="d-flex justify-content-between align-items-center" style="min-height: 650px; background-color: #ffffff; border-radius: 9px; padding: 20px; position: relative;">
        <div class="container">
            <h1 class="mb-4">Danh sách Ram</h1>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Ram</th>
                        <th scope="col">Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.TenRam</td>
                            <td>
                                <a class="btn btn-primary mr-2" asp-action="Edit" asp-route-id="@item.MaRam">Chỉnh sửa</a>
                                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.MaRam">Xóa</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div style="position: absolute; bottom: 20px; right: 20px;">
            <a asp-action="Create" class="btn btn-success">
                <i class="fa-solid fa-plus" style="font-size: 20px;"></i>
                Thêm mới
            </a>
        </div>
    </div>
</div>
