@model DACS.Models.MauSac

@{
    ViewData["Title"] = "Create";
    Layout = "_DashBoardAdmin";
}

<div class="container mt-5">
    <h1>Thêm mới màu sắc</h1>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="TenMau" class="control-label">Màu sắc</label>
                    <input asp-for="TenMau" class="form-control" />
                    <span asp-validation-for="TenMau" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Thêm" class="btn btn-success" />
                    <a asp-action="Index" class="btn btn-secondary">Trở về</a>
                </div>
            </form>
        </div>
    </div>
</div>
